.header{
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 1.0)), url("https://images.unsplash.com/photo-1571330735066-03aaa9429d89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-position: left;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 70px;
  width: 100%;
}

.logo-high{
  position:absolute;
  top:20px;
  left: 30px;
  width: 230px;
}
